@import "null.scss";
@font-face { font-family: 'Montserrat';  src: local('Montserrat-Bold'), url('https://nomail.com.ua/files/woff/d3085f686df272f9e1a267cc69b2d24f.woff') format('woff'); }
@font-face { font-family: 'Merriweather';  src: local('Merriweather-Bold'), url('https://nomail.com.ua/files/woff/824721005236b9badf9623002edd2b72.woff') format('woff'); }
@font-face { font-family: 'Raleway';  src: local('Raleway-Regular'), url('https://nomail.com.ua/files/woff/2d4cd8722065da2ac700199273325752.woff') format('woff'); }


.wrapper {
	min-height: 100%;
	overflow: hidden;
}
.containter {
	max-widtH: 1440px;
	margin: 0 auto;
	display: grid;
	grid-template-rows: auto auto auto auto auto auto auto auto auto;
}
.content {
}
.block-header {
	grid-row: 1 / 2;
	background-color: #eff0f2;
	opacity: 0.98;
	text-align: center;
	height: 806px;
		&__menu-line {
			display: flex;
			padding: 64px 150px 0px 150px;
			justify-content: space-between;
			margin: 0px 0px 206px 0px;
		}
		&__logo {
			border: 5.6px solid #170f1c;
			padding: 9px;
			font-family: Montserrat;
			font-size: 17px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.06em;
			text-shadow: 0px 0px 2px rgba(21,21,22,0.75);
			color: #000000;
			&>span {
				font-size: 21px;
				color: #77efe5;
			}
		}
		&__menu {}
		&__burger {
			position: relative;
			&:after {
				content: '';
				position: absolute;
				top: 32px;
				right: 20px;
				width: 20px;
				height: 3px;
				background-color: #111;
			}
			&:before {
				content: '';
				position: absolute;
				top: 12px;
				right: 20px;
				width: 20px;
				height: 3px;
				background-color: #111;
			}
			&>span {
				content: '';
				position: absolute;
				top: 22px;
				right: 20px;
				width: 20px;
				height: 3px;
				background-color: #111
			}
		}
		&__body {
			position: relative;
		}
		&__body-title {
			font-family: Montserrat;
			font-size: 45px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.06em;
			text-shadow: 4px 8px 10px rgba(0,0,0,0.23);
			color: #505050;
			margin: 0px 0px 150px 0px; 
			& span {
				background-color: #76f4ea;
				padding: 10px 14px 10px 14px;
			}
			& p {
				margin: 0px 0px 25px 0px;
			}
			& p:last-child {
				margin: 0;
			}
		}
		&__button {
			display: inline;
			padding: 20px 48px;
			font-family: Montserrat;
			font-size: 18px;
			line-height: 28px;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 0.12em;
			color: #000000;
			border: 2px solid #000000;
			border-radius: 2px;
			opacity: 0.5;
		}
		&__body-logo {
			position: absolute;
			bottom: -170px;
			right: 150px;
		}
}

.title {
	opacity: 0.9;
	font-family: Montserrat;
	font-size: 38px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.06em;
	color: #000000;
	margin: 0px 0px 17px 0px;
}
.subtitle {
	opacity: 0.61;
	font-family: Merriweather;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 0.06em;
	color: #000000;
}

.block1 {
	grid-row: 2 / 3;
	background-color: #f8fafa;
	padding: 129px 188px 113px 186px;
	text-align: center;
		&__title {}
		&__subtitle {
			margin: 0px 0px 147px 0px;
		}
		&__items {}
		&__item {
			display: flex;
			text-align: left;
		}
		&__item-img {
			position: relative;
			display: flex;
			min-width: 479px;
			height: 412px;
			background-color: #eff0f2;
			z-index: 1;
			margin: 0px 113px 0px 0px;
			& img {
				position: absolute;
				top: -50%;
				left: 50%;
				transform: translate(-50%, 35%); 
			}
		}
		&__item-text {
			opacity: 0.6;
			font-family: Raleway;
			font-size: 16px;
			letter-spacing: 0.05em;
			color: #000000;
			margin: -25px 0px 0px 0px;
		}
		&__item-title {}
		&__item-title-h2 {
			font-family: Merriweather;
			font-size: 20px;
			font-weight: 700;
			text-transform: uppercase;				
			letter-spacing: 0.06em;
			color: #000000;
			margin: 0px 0px 27px 0px;
			}
		&__item-title-h3 {
			font-family: Merriweather;
			font-size: 17px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.06em;
			color: #000000;
			margin: 0px 0px 27px 0px;
			}
		& p {
			margin: 0px 0px 35px 0px;
		}
		
		&__text-in-item {}
		&__slider-items {
			margin: 79px 0px 0px 195px;
			& ul {
				display: flex;
			}
				& ul > li {
					margin: 0px 2px 0px 0px;
					width: 11px;
					height: 10px;
					background-color: #d0d0d0;
					border-radius: 3px;
					& li:last-child {
						margin: 0;
					}
					&:hover {
						background-color: #71f6eb;
					}
					&:nth-child(2) {
						background-color: #71f6eb;
					}
				}
		}
}

.block2 {
	grid-row: 3 / 4;
	text-align: center;
	padding: 129px 0px 112px 0px;
		&__title {}
		&__subtitle {
			margin: 0px 0px 120px 0px;
		}
		&__items-img {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		&__item-img {
			margin: 0px 15px 13px 0px;
			&:nth-child(3n) {
				margin: 0;
			}
		}

}


.block3 {
	grid-row: 4 / 5;
	padding: 124px 151px 124px 149px;
	text-align: center;
	background-color: #f9fbfb;
		&__title {}
		&__subtitle {
			margin: 0px 0px 123px 0px;
		}
		&__items {
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			grid-templte-rows: repeat(auto-fit, minmax(370px, 1fr));
			gap: 13px;
		}
		&__item {
			text-align: left;
			grid-column: span 3;
			background-color: #eff0f2;
			padding: 63px 116px 148px 66px;
			&:first-child {
				background-color: rgb(152,230,221);
			}
		}
		&__item-background {}
		&__item-body {
			position: relative;
		}
		&__item-title {
			opacity: 0.83;
			font-family: Merriweather;
			font-size: 20px;
			line-height: 29px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.06em;
			color: #000000;
			margin: 0px 0px 28px 0px;
		}
		&__item-text {
			opacity: 0.74;
			font-family: Raleway;
			font-size: 16px;
			line-height: 28px;
			font-weight: 400;
			letter-spacing: 0.025em;
			color: #000000;
		}
		&__item-more {
			position: absolute;
			bottom: -60px;
			left: 0;
		}
		&__item-more-text {
			opacity: 0.76;
			font-family: Raleway;
			font-size: 19px;
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: 0.04em;
			color: #111;
				&:after {
					content: '';
					position: absolute;
					bottom: 4.5px;
					right: -50px;
					height: 2px;
					width: 12px;
					background-color: #111;
					transform: rotate(-40deg);
				}
				&:before {
					content: '';
					position: absolute;
					bottom: 14px;
					right: -50px;
					height: 2px;
					width: 12px;
					background-color: #111;
					transform: rotate(40deg);
				}
				& span {
					display: block;
					position: absolute;
					bottom: 9px;
					right: -50px;
					height: 2px;
					width: 25px;
					background-color: #111;
				}
		}
}




.block3__items > :nth-child(1) > .block3__item-body > .block3__item-more > div{
	color: rgba(255,255,255,0);
	& >span {
		display: none;
	}
	&:after {
		bottom: 0px;
		left: 10px;
		width: 20px;
		transform: rotate(-45deg);
	}
	&:before {
		bottom: 0px;
		left: 10px;
		width: 20px;
		transform: rotate(45deg);
	}
}


.big-item {
	grid-column: span 4;
}


.block4 {
	grid-row: 5 / 6;
	text-align: center;
	padding: 122px 149px 118px 149px;
		&__title {}
		&__subtitle {
			margin: 0px 0px 123px 0px;
		}
		&__items {
			display: flex;
			flex-wrap: wrap;
			text-align: left;
		}
		&__item {
			margin: 0px 15px 15px 0px;
			position: relative;
			&:nth-child(3n) {
				margin: 0px 0px 15px 0px;
			}
		}
		&__item-info {
			display: none;
			position: relative;
			width: 335px;
			height: 241px;
			opacity: 0.98;
			background-color: #6df6eb;
			box-shadow: 3px 6px 16px 0px rgba(20,20,21,0.18);
			margin: 184px 17px 15px 17px;
			padding: 43px 54px 42px 38px;
			&.action {
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
			}
			&:after {
				content: '';
				position: absolute;
				clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
				background-color: #6df6eb;
				top: -15px;
				left: 20px;
				width: 20px;
				height: 15px;
			}
		}
		&__item-head {
			display: flex;
		}
		&__item-head-title {
			margin: 0px 5px 23px 0px;
			opacity: 0.94;
			font-family: Merriweather;
			font-size: 20px;
			font-weight: 700;
			letter-spacing: 0.05em;
			color: #272727;
		}
		&__item-head-job {
			opacity: 0.94;
			font-family: Merriweather;
			font-size: 15px;
			font-style: italic;
			color: #767070;
		}
		&__item-info-description {
			margin: 0px 50px 39px 0px;
			opacity: 0.8;
			font-family: Raleway;
			font-size: 16px;
			letter-spacing: 0.01em;
			color: #000000;
		}
		&__item-sotials {}
		&__item-sotials-links {
			display: flex;
		}
		&__item-sotial-link {
			margin: 0px 13px 0px 0px;
			&:last-child {
				margin: 0;
			}
		}
	
}
.block5 {
	grid-row: 6 / 7;
	background-color: #f9fbfb;
	text-align: center;
	padding: 121px 151px 222px 148px;
		&__title {}
		&__subtitle {
			margin: 0px 0px 161px 0px;
		}
		&__items {
			position: relative;
		}
		&__item {
			display: flex;
			
		}
		&__img {
			background-color: #ecedef;
			border-radius: 3px;
			margin: 0px 82px 0px 0px;
			position: relative;
			min-width: 393px;
			height: 362px;
			& > img {
				position: absolute;
				top: -50%;
				left: 50%;
				transform: translate(-50%, 37%);
			}
		}
		&__body {
			background-color: #eaebed;
			border-radius: 3px;
			padding: 101px 81px 69px 86px;

		}
		&__body-head {
			margin: 0px 0px 30px 0px;
			display: flex;
			justify-content: center;
		}
		&__body-head-title {
			opacity: 0.94;
			font-family: Merriweather;
			font-size: 20px;
			font-weight: 700;
			letter-spacing: 0.06em;
			color: #000000;
			margin: 0px 7px 0px 0px;
		}
		&__body-head-job {
			opacity: 0.94;
			font-family: Merriweather;
			font-size: 15px;
			font-style: italic;
			letter-spacing: 0.06em;
			color: #787878;
		}
		&__body-text {
			opacity: 0.7;
			font-family: Raleway;
			font-size: 16px;
			line-height: 27px;
			letter-spacing: 0.06em;
			color: #000000;
			margin: 0px 0px 33px 0px;
		}
		&__body-stars {}
		&__body-stars-items {
			display: flex;
			justify-content: center;
		}
		&__body-star-item {
			clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
			background-color: #f2da3b;
			width: 15px;
			height: 14px;
			margin: 0px 7px 0px 0px;
		}
		&__items-dots {
			position: absolute;
			display: flex;
			bottom: -76px;
			left: 150px;
		}
		&__items-dot {
			width: 10px;
			height: 10px;
			background-color: #d0d0d0;
			border-radius: 50%;
			margin: 0px 15px 0px 0px;
			&:nth-child(2) {
				background-color: #71f6eb;
			}
		}
		&__items-clicks {
			position: absolute;
			display: flex;
			bottom: -76px;
			right: 0px;
		}
		&__items-click {
			margin: 0px 29px 0px 0px;
			width: 53px;
			height: 53px;
			background-color: #ffffff;
			box-shadow: 3px 7px 11px 0px rgba(20,20,21,0.05);
			border-radius: 3px;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				top: 44.5%;
				left: 45%;
				width: 10px;
				height: 3px;
				background-color: #000000;
				transform: rotate(135deg);
			}
			&:before {
				content: '';
				position: absolute;
				top: 54%;
				left: 45%;
				width: 10px;
				height: 3px;
				background-color: #000000;
				transform: rotate(-135deg);
			}
			&:last-child:after{
				content: '';
				position: absolute;
				top: 44.5%;
				left: 45%;
				width: 10px;
				height: 3px;
				background-color: #000000;
				transform: rotate(45deg);
			}
			&:last-child:before {
				content: '';
				position: absolute;
				top: 54%;
				left: 45%;
				width: 10px;
				height: 3px;
				background-color: #000000;
				transform: rotate(-45deg);
			}
			&:last-child {
				margin: 0;
				background-color: #71f6eb;
			}
		}
}


.block6 {
	grid-row: 7 / 8;
	padding: 108px 153px 107px 154px;
		&__img-body {

				& img {
				width: 100%;
				height: auto;
				object-fit: cover;
				}
		}
}

.input, .textarea, .button {
	opacity: 0.6;
	font-family: Raleway;
	font-size: 15px;
	line-height: 51px;
	font-weight: 400;
	color: #ffffff;
	background: transparent;
	width: 550px;
}

.block7 {
	background-color: #fbfdfd;
	grid-row: 8 / 9;
	display: flex;
	padding: 121px 149px 123px 151px;
		&__form {
			opacity: 0.7;
			background-color: #021623;
			box-shadow: 0px 0px 30px 0px rgba(21,21,21,0.11);
			margin: 0px 26px 0px 0px;
		}
		&__form-block {
			display: flex;
			flex-direction: column;
			padding: 40px 33px 38px 31px;
		}
		&__input-name {}
		&__input-subject {}
		&__input-mail {}
		&__input-mail, &__input-subject, &__input-name, &__text-area {
			border-bottom: 2px solid #ffffff;
		}
		&__text-area {
			height: 116px;
			margin: 0px 0px 38px 0px;
		}
		&__button {
			width: 244px;
			height: 53px;
			background-color: #6eeee4;
			border-radius: 2px;
			opacity: 0.7;
			font-family: Montserrat;
			font-size: 18px;
			text-transform: uppercase;
			letter-spacing: 0.12em;
			color: #000000;
		}
		&__contacts {
			padding: 36px 22px 19px 22px;
			opacity: 0.7;
			background-color: #021623;
			box-shadow: 0px 0px 30px 0px rgba(21,21,21,0.11);
		}
		&__contacts-items {
			opacity: 0.7;
			font-family: Raleway;
			font-size: 15px;
			line-height: 24px;
			color: #ffffff;
			margin: 0px 0px 23px 0px;
		}
		&__contacts-item {
			&:nth-child(4) {
				margin: 0px 0px 36px 0px;
			}
		}
		&__contacts-map {}
	}



.footer {
	grid-row: 9 / -1;
	background-color: #262b2e;
	padding: 93px 0px 89px 0px;
	text-align: center;
		&__title {
		opacity: 0.8;
		font-family: Raleway;
		font-size: 16px;
		line-height: 25px;
		letter-spacing: 0.01em;
		color: #ffffff;
		margin: 0px 0px 19px 0px;
		}
		&__links {
			display: flex;
			justify-content: center;
			margin: 0px 0px 43px 0px;
		}
		&__link {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 46px;
			height: 40px;
			opacity: 0.19;
			background-color: #8a8a8a;
			margin: 0px 7px 0px 0px;
			&:hover {
				opacity: 0.91;
				background-color: #71f6eb;
			}
		}
		&__copyright {
			opacity: 0.4;
			font-family: Raleway;
			font-size: 16px;
			line-height: 25px;
			font-weight: 500;
			letter-spacing: 0.01em;
			color: #ffffff;
		}

}







